{% extends "main.twig" %}

{% block title %}Coffrets types{% endblock %}

{% block content %}
    <h1>Coffrets types par thème</h1>
    {% for theme, coffrets in coffrets_par_theme %}
        <h2>{{ theme }}</h2>
        <ul>
            {% for coffret in coffrets %}
                <li>
                    <a href="/coffret/{{ coffret.id }}">{{ coffret.nom }}</a>
                    <a href="/coffret/{{ coffret.id }}">Voir le détail</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <br>
    <a href="/">Retour à la page d'accueil</a>
{% endblock %}