{% extends "main.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur Gift Appli</h1>
    <p>
        Cette application vous permet de découvrir et de gérer des catégories de prestations.<br>
        Parcourez les différentes catégories et trouvez la prestation qui vous convient !
        <br><br>
        <a href ="/categories">Accéder aux catégories</a>
    </p>
{% endblock %}